<h1>Creacion de Productos</h1>
<form action="/products" method="POST">
<div class="mb-3">
    <label for="title" class="form-label">Titulo</label>
    <input type="text" name="title" class="form-control" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Descripcion</label>
    <input type="text" name="description" class="form-control" id="description" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Precio</label>
    <input type="number" name="price" class="form-control" id="price" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="thumbnail" class="form-label">Foto(link)</label>
    <input type="text" name="thumbnail" class="form-control" id="thumbnail" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="code" class="form-label">Code</label>
    <input type="number" name="code" id="code" class="form-control">
  </div>
  <div class="mb-3">
    <label for="stock" class="form-label">Stock</label>
    <input type="number" name="stock" id="stock" class="form-control">
  </div>
  <div class="mb-3">
    <label for="categories" class="form-label">Categoria</label>
    <input type="text" name="categories" id="categories" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Publicar</button>
</form>