{{!-- Con esto se llama al partial de products --}}
{{#if user}}
{{>userdata}}
{{/if}}
<div class="caja-productos">
{{>products}}
</div>
<nav aria-label="Page navigation example"></nav>
  <ul class="pagination d-flex justify-content-between">
    {{#if infoProducts.prevPage}}
        <li class="page-item mx-3"><a class="page-link" href={{infoProducts.prevLink}}>Pagina Anterior</a></li>
    {{else}}
        <li class="page-item mx-3"></li>
    {{/if}}
    {{#if infoProducts.nextPage}}
        <li class="page-item mx-3"><a class="page-link" href={{infoProducts.nextLink}}>Pagina Siguiente</a></li>
    {{else}}
        <li class="page-item mx-3"></li>
    {{/if}}
  </ul>
</nav>
