{{!-- Con esto se llama al partial de products --}}
{{#if user}}
{{>userdata}}
{{/if}}
<div class="caja-productos">
{{>products}}
</div>
{{#if infoProducts.prevPage}}
<a href={{infoProducts.prevLink}}>Pagina Anterior</a>
{{/if}}
<br></br>
{{#if infoProducts.nextPage}}
<a href={{infoProducts.nextLink}}>Pagina Siguiente</a>
{{/if}}