<h1>aca te logeas capo</h1>
<form action="/sessions/login" method="POST">
<p>Email</p>
    <input type="text" name="email" id="email">
<p>Contraseña</p>
    <input type="text" name="password" id="password">
    <button>Enviar</button>
</form>