{{!-- Formulario --}}
<div id="output"></div>
<form id="form">
    <input type="text" name="title" id="title">
    <input type="text" name="description" id="description">
    <input type="number" name="price" id="price">
    <input type="text" name="thumbnail" id="thumbnail">
    <input type="text" name="code" id="code">
    <input type="text" name="stock" id="stock">
    <input type="text" name="categories" id="categories">
    <input type="submit" value="SEND">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="./index.js"></script>