{{!-- <h1>aca te registras capo</h1>
<form action="/sessions/register" method="POST">
<p>Nombre</p>
    <input type="text" name="first_name" id="first_name">
<p>Apellido</p>
    <input type="text" name="last_name" id="last_name">
<p>Edad</p>
    <input type="number" name="age" id="age">
<p>Email</p>
    <input type="text" name="email" id="email">
<p>Contraseña</p>
    <input type="text" name="password" id="password">
    <button>Enviar</button>
</form> --}}

<form action="/sessions/register" method="POST">
<div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" name="apellido" class="form-control" id="apellido" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="edad" class="form-label">Edad</label>
    <input type="number" name="edad" class="form-control" id="edad" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" id="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>