<h1>aca te registras capo</h1>
<form action="/sessions/register" method="POST">
<p>Nombre</p>
    <input type="text" name="first_name" id="first_name">
<p>Apellido</p>
    <input type="text" name="last_name" id="last_name">
<p>Edad</p>
    <input type="number" name="age" id="age">
<p>Email</p>
    <input type="text" name="email" id="email">
<p>Contraseña</p>
    <input type="text" name="password" id="password">
    <button>Enviar</button>
</form>