.caja-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.contenedor-img{
    display: flex;
    width: 17rem;
    height: 17rem;

}
.carta-flex{
    padding: 5%;
}
.links-img{
    width: 100%;
    height: 100%;
}
.imagenes{
    height: 100%;
    width: 100%;
    display: block;
}
.contenedor-specs{
    display: flex;
    flex-direction: column;
    width: 46rem;
}
.contenedor-img-specs{
    display: flex;
    width: 40rem;
    height: 40rem;
}
.img-specs{
    width: 100%;
}
.elementos-producto{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}